.container .jumbotron, .container-fluid .jumbotron{
    color: white;
    background-color: black;
    font-family: monospace;
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: 70px;
    border-radius: 0px;
    margin-bottom: 10px;
}
body{
    background-color: black;
    font-family: monospace;
    color: white !important;
}
a{
    color: #FFFFFF;
}
.btn-pinterest {
    color: #ffffff;
    border-color: black;
    height: 45px;
    width: 45px;
    line-height: 40px;
    font-size: 1.8em;
}
.btn-pinterest-fb{
    background-color: #3b5998;
}
.btn-pinterest-twitter{
    background-color: #55ACEE;
}
.btn-pinterest-git{
    background-color: #444444;
}
.btn-pinterest-linkedin{
    background-color: #007bb6;

}
.footer{
    background-color: black;
    text-align: right;
    border-color: transparent;
}

.img-circle{
    max-width: 100px;
}